<div class="main-app">
  <top-bar></top-bar>
  <div class="divider"></div>
  <div class="main-body">
    <div *ngIf="!loading">
        <div class="main-options"></div>
        <div class="divider"></div>
        <div class="main-players">
            <tab-players [players]="playerList" [playerSeleted]="playerSeleted" [seleted]="fnHandleSelectionPlayer"></tab-players>
        </div>
        <div class="divider"></div>
        <div class="main-stats">
            <div class="section-title">
                <h4>Performace</h4>
            </div>
            <div>
                <div></div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="main-ranks">
            <div class="section-title">
                <h4>Playlist</h4>
            </div>
            <side-rank [ranksItems]="ranksItems"></side-rank>
        </div>
        <div class="divider"></div>
    </div>
    <div *ngIf="loading" class="loader-container">
        <div class="loader-sub-container">
            <div class="loader"></div>
        </div>        
    </div>
    
  </div>
</div>