*{
  user-select: none;
  cursor: default;
}

.main-app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

top-bar{
  display: flex;
  flex-grow: 0;
}
.main-body{
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.main-players{
  display: -webkit-box;
}

.main-ranks{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.main-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10px;
}

.loader-container,.loader-sub-container{
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.loader-sub-container{
  flex-direction: column;
}

.loader {
  border: 8px solid #838386; 
  border-top: 8px solid rgb(63,105,215);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
