<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="header-title">
        <div class="logo">
            <img [src]="logo">
        </div>
        <div class="title">
          <span class="main-title">{{title}}</span>
          <span class="sun-tille">{{subTitle}}</span>
        </div>
    </div>
    <div class="header-menu">
        <span class="menu-option"><i class="fa fa-window-close" aria-hidden="true"></i></span>
        <span class="menu-option"><i class="fa fa-window-minimize" aria-hidden="true"></i></span>
    </div>    
</header>